In [1]:
name = "Basmala"
age = 23
height = 1.60
student = False
print(type(name))
print(type(age))
print(type(height))
print(type(student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [3]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello,{name} You are {age} years old.")

Enter your name: Basmala
Enter your age: 23
Hello,Basmala You are 23 years old.

In [5]:
num = int(input("Enter number: "))
if num%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter number: 4
The number is even

In [6]:
hours = int(input("number of working hours: "))
hourly_rate = int(input("hourly rate: "))
if hours <= 160:
    salary = hours * hourly_rate
    print(salary)
else:
    base_salary = 160 * hourly_rate 
    bonus_salary = (hours - 160) * hourly_rate * 2
    total_salary = base_salary + bonus_salary
    print(total_salary)

number of working hours: 200
hourly rate: 40
9600